/*
 Theme Name:     Divi Child
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme
 Author:         Trey Morris
 Author URI:     https://github.com/treymorris
 Template:       Divi
 Version:        1.0.0
*/
 
 
/* =Theme customization starts here
------------------------------------------------------- */

/*This code allows user to add the site title and tagline next to logo-- change values in /theme customizer/site identity*/
/*This will not work if global header is used*/
#db_title_and_tagline {
	display: inline;
	margin-right: 2em !important;
}
#logo { 
	padding-right: 10px; 
}
#logo-text, #logo-tagline { 
	margin: 0; 
	padding:0; 
	display:inline;
	vertical-align: middle;
}
#logo-tagline { 
	opacity: 0.7; 
	margin-left: 16px; 
	vertical-align: sub; 
}
@media only screen and (max-width: 767px) { 
	#logo-tagline { 
		display: none; 
	}
}
.et_hide_primary_logo .logo_container { 
	height: 100% !important; 
	opacity: 1 !important; 
}
.et_hide_primary_logo .logo_container #logo { 
	display: none; 
}

/*this sets background image on events calendar page*/
/*#main-content {
	background: 
		radial-gradient(circle at center,rgba(102,133,221,0.37) 0%,rgba(31,31,71,0.81) 53%),
		url(http://new-hope-church.local/wp-content/uploads/2022/09/church-16.jpg);
	background-size: cover;
	background-attachment: fixed;
}*/